.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-btn input {
    height: 40px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 20px;
}

.input-btn input:focus {
    outline: none;
}

.input-btn button {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.col {
    cursor: pointer;
}